[Unit]
Description=SvcMon: Service Monitoring Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/svcmon/server.py
WorkingDirectory=/opt/svcmon
Restart=always
RestartSec=5
User=root

LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
