[Unit]
Description=SvcMon: svcmon-check.service Timer

[Timer]
OnBootSec=5min
OnCalendar=*-*-* *:00:00
Persistent=true
Unit=svcmon-check.service

[Install]
WantedBy=timers.target