:root{
  --sts-dn: #EE402E;
  --sts-up: #00A66E;
  --sts-na: #333C4E;
  --status-div-width: 200px;
}


table.status-log{
  -webkit-user-drag: none;
  margin-bottom: 16px;
  max-width: fit-content;
  user-select: none;
}

table.status-log td{
  font-size: 11px;
  overflow: hidden;
  padding: 0;
}

table.status-log tr:first-child td:first-child{
  padding-left: 8px;
  padding-right: 8px;
}

table.status-log tr td{
  height: 18px;
  min-width: 18px;
  text-align: center;
}

table.status-log td{
  padding: 1px;
}

table.status-log td.dn::after,
table.status-log td.up::after,
table.status-log td.na::after{
  border-radius: 4px;
  content: '';
  display: block;
  height: 100%;
}

table.status-log td.dn::after{
  background-color: var(--sts-dn);
}

table.status-log td.up::after{
  background-color: var(--sts-up);
}

table.status-log td.na::after{
  background-color: var(--sts-na);
}

.text-center {
  text-align: center;
}

#port-status-log,
#service-status-log {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: auto;
  width: calc((var(--status-div-width) * 1) + (16px * 1))
}

#port-status-log > div,
#service-status-log > div {
  margin-left: 8px;
  margin-right: 8px;
  width: var(--status-div-width);
}

.status-log-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-log-wrapper h5{
  text-align: left;
  margin-bottom: 0.5rem;
}

[id$="-template"] { display: none; }

@media (min-width: 576px) {
  #port-status-log,
  #service-status-log {
    width: calc((var(--status-div-width) * 2) + (16px * 2));
  }
}

@media (min-width: 768px) {
  #port-status-log,
  #service-status-log {
    width: calc((var(--status-div-width) * 3) + (16px * 3));
  }
  table.status-log tr td:nth-child(n+2){
    height: 20px;
    min-width: 20px;
  }
}

@media (min-width: 1024px) {
  #port-status-log,
  #service-status-log {
    width: calc((var(--status-div-width) * 4) + (16px * 4));
  }
}
@media (min-width: 1280px) {
  #port-status-log,
  #service-status-log {
    width: calc((var(--status-div-width) * 5) + (16px * 5));
  }
}
@media (min-width: 1536px) {
  #port-status-log,
  #service-status-log {
    width: calc((var(--status-div-width) * 6) + (16px * 6));
  }
}