table.status-log{
  max-width: fit-content;
  user-select: none;
  -webkit-user-drag: none;
  margin-bottom: 16px;
}

table.status-log td{
  border: 1px solid #efefef;
  padding: 0;
  font-size: 11px;
  overflow: hidden;
}

table.status-log tr td:first-child{
  padding-left: 8px;
  padding-right: 8px;
}

table.status-log tr td:nth-child(n+2){
  height: 18px;
  text-align: center;
  min-width: 18px;
}

table.status-log td.dn{
  background-color: red;
}

table.status-log td.up{
  background-color: green;
}

table.status-log td.na::after{
  content: 'x';
  background-color: none;
}

.status-log-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[id$="-template"] { display: none; }

@media (max-width: 767px) {
  table.status-log tr td:nth-child(n+2):nth-child(-n+7),
  table.status-log tr td:nth-child(n+22){
    display: none;
  }
}

@media (min-width: 768px) {
  table.status-log td{
    font-size: 12px;
  }

  table.status-log tr td:nth-child(n+2){
    height: 24px;
    min-width: 24px;
  }
}